.btn
  display: inline-block
  padding: 6px 12px
  font-size: 14px
  font-weight: 400
  line-height: 1.5
  text-align: center
  white-space: nowrap
  vertical-align: middle
  cursor: pointer
  user-select: none
  background-image: none
  background-color: transparent
  border: 1px solid transparent
  border-radius: 4px

  &--default
    border: 1px solid #5d5d5d
    background: $primary-color
    text-decoration: none

  &--submit
    text-transform: uppercase
    width: 100%
    background: #087eff
    color: #ffffff
    font-size: 22px
    padding: 8px 12px
    box-shadow: inset 0 30px 30px rgba(255,255,255,0.3)
    transition: box-shadow 0.2s ease-in-out;

    &:hover
      box-shadow: none




