.btn
  display: inline-block
  padding: 6px 12px
  font-size: 14px
  font-weight: 400
  line-height: 1.5
  text-align: center
  white-space: nowrap
  vertical-align: middle
  cursor: pointer
  user-select: none
  background-image: none
  background-color: transparent
  border: 1px solid transparent
  border-radius: 4px

  &--default
    border: 1px solid #5d5d5d
