.field-item
  position: relative
  min-width: 120px

  &__label
    color: #737373
    font-size: 12px
    display: block
    margin-bottom: 5px

  &__error
    font-size: 12px
    color: #850014
    position: absolute
    bottom: 0
    left: 5px
    pointer-events: none